/* Media queries */
@media only screen and (max-width: 320px) {

// Countdown Timer
.countdownTimer {
  border: $white 2px solid;
  padding: $padding;
  height: $height;
  border-radius:5px;
  width: 15.2rem;
  margin-left:-1rem;
  background-color:rgba(0, 0, 0, 0.5);

  &Hours, &Minutes,&Seconds {
    border-left:$white 0.5px solid;
    margin-left:0.4rem;
  }

  &Days, &Hours, &Minutes, &Seconds {
    display: inline-block;
    text-align: center;
    padding: 0.3rem 0.1rem 0 0.1rem;
    width: ($width + 0.1rem);
    color:$white;

    &--title {
      text-transform: uppercase;
      font-size:($fontSize - 1.35rem);
      font-weight: $fontWeight;
      margin-left:0.4rem;
    }

    &--value {
      font-size:($fontSize - 0.3rem);
      text-align: center;
    }
  }
}

  
// Newsletter
.newsletter {
  padding:$padding;
  color:$white;
  margin: ($margin + 1rem) 0 $margin 0;
  text-align: center;

  h4 {
    margin: 0 0 ($margin - 1.3rem) 0;
  }

  .emailInput {
    width:($width + 4rem);
    height:($height - 2rem);
    background-color:rgba(255,255,255,0.5);
    border-color:rgba(255,255,255,0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
    padding-left:0.5rem;
    color:$white;
    &::placeholder {
      color:$white;
    }
    &:text {
      color:$white;
    }
  
  }
  button {
    height:($height - 2rem);
    margin-left:-0.3rem;
    border-top-left-radius:0;
    border-bottom-left-radius: 0;
    background-color:	rgba(148, 59, 135, 0.7);
    border:none;
    color:$white;

    &:hover {
      background-color:	$purple;
      color:$white;
    }
   }
}

}
@media only screen and (min-width: 321px) and (max-width: 375px) {
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
}
@media only screen and (min-width: 1367px) and (max-width: 1440px) {
}
@media only screen and (min-width: 1440px) and (max-width: 1707px) {
}
