// Sass Variables 

/* Background */
$bgImg:"../img/Bg.jpg";
$bgHeight:100vh;

/* Colors */
$white:#fff;
$black: #000;

/* Font */
$fontFamily:'Raleway', Calibri, Arial, sans-serif;
$fontSize:2rem;
$fontWeight:500;

/* Margin */
$margin:2rem;

/* Padding */
$padding:0.5rem;

/* Height */
$height:4rem;

/* Width */
$width:3rem;