// Home specific styles 
body {
  background-image: url("../img/Bg.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
  height:20rem;
  overflow-y: hidden;
}