/* 
Developer name: Jeandre Melaria
Project title: Jeandre Melaria | Coming Soon
Platform: Bootstrap
Programming language: HTML5, CSS3, Bootstrap, Sass
IDE tool: Visual Studio Code
Database:  Firebase
Project type: Coming Soon Page
File created date: 05.06.2018
Last modified: 
 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* Background */
/* Colors */
/* Font */
/* Margin */
/* Padding */
/* Height */
/* Width */
.preloader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  display: block;
  position: relative;
  margin: 0 auto;
  top: 50vh;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Home specific styles */
body {
  background-image: url("../img/Bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Raleway", Calibri, Arial, sans-serif;
}

header {
  display: block;
  color: #fff;
  font-size: 2rem;
  margin: 6rem 0 1.5rem 0;
  text-align: center;
}

footer {
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #943b87;
}

/* Media queries */
/* ========================================== MAX-WIDTH 320 PX ========================================== */
@media only screen and (max-width: 320px) {
  .countdownTimer {
    border: #fff 2px solid;
    padding: 0.5rem;
    height: 4rem;
    border-radius: 5px;
    width: 15.2rem;
    margin-left: -1rem;
    margin-top: 3.5rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .countdownTimerHours, .countdownTimerMinutes, .countdownTimerSeconds {
    border-left: #fff 0.5px solid;
    margin-left: 0.4rem;
  }
  .countdownTimerDays, .countdownTimerHours, .countdownTimerMinutes, .countdownTimerSeconds {
    display: inline-block;
    text-align: center;
    padding: 0.3rem 0.1rem 0 0.1rem;
    width: 3.1rem;
    color: #fff;
  }
  .countdownTimerDays--title, .countdownTimerHours--title, .countdownTimerMinutes--title, .countdownTimerSeconds--title {
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: 500;
    margin-left: 0.4rem;
  }
  .countdownTimerDays--value, .countdownTimerHours--value, .countdownTimerMinutes--value, .countdownTimerSeconds--value {
    font-size: 1.7rem;
    text-align: center;
  }
  .newsletter {
    padding: 0.5rem;
    color: #fff;
    margin: 3rem 0 2rem 0;
    text-align: center;
  }
  .newsletter .alertMessage--succes, .newsletter .alertMessage--failed {
    text-align: center;
    padding: 0.5rem;
    background: #79c879;
    color: #fff;
    margin-bottom: 0.5rem;
    border-radius: 5px;
  }
  .newsletter .alertMessage--failed {
    background: red;
  }
  .newsletter h4 {
    margin: 0 0 0.7rem 0;
  }
  .newsletter .emailInput {
    width: 7rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    padding-left: 0.5rem;
    color: #fff;
  }
  .newsletter .emailInput::-webkit-input-placeholder {
    color: #fff;
  }
  .newsletter .emailInput:-ms-input-placeholder {
    color: #fff;
  }
  .newsletter .emailInput::-ms-input-placeholder {
    color: #fff;
  }
  .newsletter .emailInput::placeholder {
    color: #fff;
  }
  .newsletter .emailInput:text {
    color: #fff;
  }
  .newsletter button {
    height: 2rem;
    margin-left: -0.3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(148, 59, 135, 0.7);
    border: none;
    color: #fff;
  }
  .newsletter button:hover {
    background-color: #943b87;
    color: #fff;
  }
}

/* ========================================== MIN-WIDTH 321 PX ========================================== */
@media only screen and (min-width: 321px) {
  .countdownTimer {
    border: #fff 2px solid;
    padding: 0.5rem;
    height: 4rem;
    border-radius: 5px;
    width: 15.2rem;
    margin-left: -1rem;
    margin-top: 3.5rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .countdownTimerHours, .countdownTimerMinutes, .countdownTimerSeconds {
    border-left: #fff 0.5px solid;
    margin-left: 0.4rem;
  }
  .countdownTimerDays, .countdownTimerHours, .countdownTimerMinutes, .countdownTimerSeconds {
    display: inline-block;
    text-align: center;
    padding: 0.3rem 0.1rem 0 0.1rem;
    width: 3.1rem;
    color: #fff;
  }
  .countdownTimerDays--title, .countdownTimerHours--title, .countdownTimerMinutes--title, .countdownTimerSeconds--title {
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: 500;
    margin-left: 0.4rem;
  }
  .countdownTimerDays--value, .countdownTimerHours--value, .countdownTimerMinutes--value, .countdownTimerSeconds--value {
    font-size: 1.7rem;
    text-align: center;
  }
  .newsletter {
    padding: 0.5rem;
    color: #fff;
    margin: 3rem 0 2rem 0;
    text-align: center;
  }
  .newsletter .alertMessage--succes, .newsletter .alertMessage--failed {
    text-align: center;
    padding: 0.5rem;
    background: #79c879;
    color: #fff;
    margin-bottom: 0.5rem;
    border-radius: 5px;
  }
  .newsletter .alertMessage--failed {
    text-align: center;
    padding: 0.5rem;
    background: #79c879;
    color: #fff;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    background: red;
  }
  .newsletter h4 {
    margin: 0 0 0.7rem 0;
  }
  .newsletter .emailInput {
    width: 7rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    padding-left: 0.5rem;
    color: #fff;
  }
  .newsletter .emailInput::-webkit-input-placeholder {
    color: #fff;
  }
  .newsletter .emailInput:-ms-input-placeholder {
    color: #fff;
  }
  .newsletter .emailInput::-ms-input-placeholder {
    color: #fff;
  }
  .newsletter .emailInput::placeholder {
    color: #fff;
  }
  .newsletter .emailInput:text {
    color: #fff;
  }
  .newsletter button {
    height: 2rem;
    margin-left: -0.3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(148, 59, 135, 0.7);
    border: none;
    color: #fff;
  }
  .newsletter button:hover {
    background-color: #943b87;
    color: #fff;
  }
}

/* ========================================== MIN-WIDTH 350 PX ========================================== */
@media only screen and (min-width: 350px) {
  .countdownTimer {
    margin-left: -0.2rem;
  }
}

/* ========================================== MIN-WIDTH 375 PX ========================================== */
@media only screen and (min-width: 375px) {
  .countdownTimer {
    margin-left: 0.4rem;
  }
}

/* ========================================== MIN-WIDTH 400 PX ========================================== */
@media only screen and (min-width: 400px) {
  .countdownTimer {
    margin-left: 1.5rem;
  }
}

/* ========================================== MIN-WIDTH 425 PX ========================================== */
@media only screen and (min-width: 425px) {
  .countdownTimer {
    margin-left: 1.5rem;
  }
}

/* ========================================== MIN-WIDTH 471 PX ========================================== */
@media only screen and (min-width: 471px) {
  .countdownTimer {
    margin-left: 3rem;
  }
}

/* ========================================== MIN-WIDTH 554 PX ========================================== */
@media only screen and (min-width: 554px) {
  .countdownTimer {
    margin-left: 5.3rem;
  }
}

/* ========================================== MIN-WIDTH 600 PX ========================================== */
@media only screen and (min-width: 600px) {
  .countdownTimer {
    margin-left: 6.3rem;
  }
}

/* ========================================== MIN-WIDTH 700 PX ========================================== */
@media only screen and (min-width: 700px) {
  .countdownTimer {
    margin-left: 9.2rem;
  }
}

/* ========================================== MIN-WIDTH 745 PX ========================================== */
@media only screen and (min-width: 745px) {
  .countdownTimer {
    margin-left: 10.2rem;
  }
}

/* ========================================== MIN-WIDTH 768 PX ========================================== */
@media only screen and (min-width: 768px) {
  header {
    margin-top: 8rem;
  }
  header h1 {
    font-size: 2.5rem;
  }
  .countdownTimer {
    border: #fff 2px solid;
    padding: 0.5rem;
    height: 4rem;
    border-radius: 5px;
    width: 30rem;
    margin-left: 3rem;
    margin-top: 3.5rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .countdownTimerHours, .countdownTimerMinutes, .countdownTimerSeconds {
    border-left: #fff 0.5px solid;
    margin-left: 0.4rem;
  }
  .countdownTimerDays, .countdownTimerHours, .countdownTimerMinutes, .countdownTimerSeconds {
    display: inline-block;
    text-align: center;
    padding: 0.3rem 0.1rem 0 0.1rem;
    width: 6.8rem;
    color: #fff;
  }
  .countdownTimerDays--title, .countdownTimerHours--title, .countdownTimerMinutes--title, .countdownTimerSeconds--title {
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: 500;
    margin-left: 0.4rem;
  }
  .countdownTimerDays--value, .countdownTimerHours--value, .countdownTimerMinutes--value, .countdownTimerSeconds--value {
    font-size: 1.7rem;
    text-align: center;
  }
  .newsletter {
    padding: 0.5rem;
    color: #fff;
    margin: 3rem 0 2rem 0;
    text-align: center;
  }
  .newsletter .alertMessage--succes, .newsletter .alertMessage--failed {
    text-align: center;
    padding: 0.5rem;
    background: #79c879;
    color: #fff;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    margin-left: 6.5rem;
    width: 23rem;
  }
  .newsletter .alertMessage--failed {
    text-align: center;
    padding: 0.5rem;
    color: #fff;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    background: red;
  }
  .newsletter h4 {
    margin: 0 0 0.7rem 0;
  }
  .newsletter .emailInput {
    width: 18rem;
    height: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    padding-left: 0.5rem;
    color: #fff;
  }
  .newsletter .emailInput::-webkit-input-placeholder {
    color: #fff;
  }
  .newsletter .emailInput:-ms-input-placeholder {
    color: #fff;
  }
  .newsletter .emailInput::-ms-input-placeholder {
    color: #fff;
  }
  .newsletter .emailInput::placeholder {
    color: #fff;
  }
  .newsletter .emailInput:text {
    color: #fff;
  }
  .newsletter button {
    height: 2rem;
    margin-left: -0.3rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: rgba(148, 59, 135, 0.7);
    border: none;
    color: #fff;
  }
  .newsletter button:hover {
    background-color: #943b87;
    color: #fff;
  }
  footer {
    font-size: 1rem;
  }
}

/* ========================================== MIN-WIDTH 930 PX ========================================== */
@media only screen and (min-width: 930px) {
  .countdownTimer {
    margin-left: 7.5rem;
  }
}

/* ========================================== MIN-WIDTH 1024 PX ========================================== */
@media only screen and (min-width: 1024px) {
  .countdownTimer {
    margin-left: 10rem;
  }
}

/* ========================================== MIN-WIDTH 1170 PX ========================================== */
@media only screen and (min-width: 1170px) {
  .countdownTimer {
    margin-left: 13.5rem;
  }
}

/* ========================================== MIN-WIDTH 1300 PX ========================================== */
@media only screen and (min-width: 1300px) {
  .countdownTimer {
    margin-left: 16.5rem;
  }
}

/* ========================================== MIN-WIDTH 1366 PX ========================================== */
@media only screen and (min-width: 1366px) {
  .countdownTimer {
    margin-left: 18.5rem;
  }
}

/* ========================================== MIN-WIDTH 1440 PX ========================================== */
@media only screen and (min-width: 1440px) {
  .countdownTimer {
    margin-left: 20.5rem;
  }
}

/* ========================================== MAX-WIDTH 375 PX ========================================== */
/* ========================================== DEVICES ========================================== */
/*# sourceMappingURL=main.css.map */